<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h2 class="text-success"><%= t(".sign_up") %></h2>
    <div class="card border-success">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password, t('.password')%><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, t('.password_confirmation') %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions">
            <%= f.submit t('.sign_up') %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mt-1">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
